{% extends 'base.html' %}

{% block content %}
<script>
    $(document).ready(function() {
      $('#myTable').DataTable();
    });
    </script>
    <script>
        $(document).ready(function() {
          $('#myTable').DataTable();
        });
        </script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"/>
 
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="https://cdn.plot.ly/plotly-latest.min.css">
        
    
    <h1>Book List</h1>
    <br>
    <a href="/add_book"><button class="btn btn-danger">Add Book</button></a> <br>
   
    
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %} <br>
    

    <table id="myTable">
        <thead>
          <tr>
            <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Publisher</th>
                <th>Copies</th>
                <th>Checked Out By</th>
                <th>Checkout</th>
                <th>Checkin</th>
                <th>Action</th>
          </tr>
        </thead>
        <tbody>
            {% for book in results %}
          <tr>
            <td>{{ book.id }}</td>
              <td>{{ book.name }}</td>
              <td>{{ book.description }}</td>
              <td>{{ book.pub_by }}</td>
              <td>{{ book.copies }}</td>
              <td>{{ book.checked_out_by1 }}</td>
              <td><a href="{{ url_for('name.checkout_book', id=book.id) }}">Checkout</a></td>
              <td><a href="{{ url_for('name.checkin_book', id=book.id) }}">Checkin</a></td>
         
              <td> <button class="btn btn-warning"><a href="{{ url_for('name.edit_book', id=book.id) }}">Edit</a> </button>
              <button class="btn btn-danger"><a href="{{ url_for('name.delete_book', id=book.id) }}">Delete</a></button></td>
       
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div id="book-status">{{ graph|safe }}</div>

{% endblock %}
