{% extends 'base.html' %}

{% block content %}
    <h1>Book List</h1>
    <a href="/add_book"><button class="btn btn-danger">Add Book</button></a> <br>
    <form method="GET" action="{{ url_for('name.index') }}">
        <label for="id">Search by ID:</label>
        <input type="text" name="id" id="id">
        <button type="submit" class="btn btn-danger">Search</button>
    </form>
    
    <br>
    
    <table class="table container has-text-centered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Publisher</th>
                <th>Copies</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          {% for book in results %}
          <tr>
              <td>{{ book.id }}</td>
              <td>{{ book.name }}</td>
              <td>{{ book.description }}</td>
              <td>{{ book.pub_by }}</td>
              <td>{{ book.copies }}</td>
              <td> <button class="btn btn-warning"><a href="{{ url_for('name.edit_book', id=book.id) }}">Edit</a> </button></td>
              <td><button class="btn btn-danger"><a href="{{ url_for('name.delete_book', id=book.id) }}">Delete</a></button></td>
          </tr>
      {% endfor %}
      
        </tbody>
    </table>
{% endblock %}
